<h1>Pay Examples</h1>

<h5>Braintree</h5>
<div><%= link_to "Subscriptions", braintree_subscriptions_path %></div>
<div><%= link_to "Charges", braintree_charges_path %></div>

<h5>Stripe</h5>
<div><%= link_to "Subscriptions", stripe_subscriptions_path %></div>
<div><%= link_to "Charges", stripe_charges_path %></div>

<h5>Lemon Squeezy</h5>
<div><%= link_to "Subscriptions", lemon_squeezy_subscriptions_path %></div>
<div><%= link_to "Charges", lemon_squeezy_charges_path %></div>
